In [1]:
import pandas as pd

In [2]:
colNames = ['Pair Mass', 'Muon 1 Energy', 'Muon 2 Energy', 'Muon 1 pT', 'Muon 2 pT','Muon 1 Eta', 'Muon 2 Eta', 'Muon 1 Phi', 'Muon 2 Phi','Muon 1 Rapidity', 'Muon 2 Rapidity']

In [4]:
df = pd.read_csv("MCdataFrame.csv", names=colNames )

In [5]:
df.head()

,Pair Mass,Muon 1 Energy,Muon 2 Energy,Muon 1 pT,Muon 2 pT,Muon 1 Eta,Muon 2 Eta,Muon 1 Phi,Muon 2 Phi,Muon 1 Rapidity,Muon 2 Rapidity
0,5.95006,11.3722,10.36900,9.23650,5.70456,-0.667488,-1.204570,3.06836,-2.598230,-0.66745,-1.204430
1,4.12652,11.3722,6.23643,9.23650,4.72168,-0.667488,-0.780786,3.06836,-2.595470,-0.66745,-0.780623
2,11.79740,11.3722,3.91395,9.23650,3.88866,-0.667488,-0.110712,3.06836,-0.771145,-0.66745,-0.110671
3,2.24211,10.3690,6.23643,5.70456,4.72168,-1.204570,-0.780786,-2.59823,-2.595470,-1.20443,-0.780623
4,9.23908,10.3690,3.91395,5.70456,3.88866,-1.204570,-0.110712,-2.59823,-0.771145,-1.20443,-0.110671

In [7]:
df.to_csv("data_100Kevt.csv")

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 338972 entries, 0 to 338971
Data columns (total 11 columns):
 #   Column           Non-Null Count   Dtype
---  ------           --------------   -----
 0   Pair Mass        338972 non-null  float64
 1   Muon 1 Energy    338972 non-null  float64
 2   Muon 2 Energy    338972 non-null  float64
 3   Muon 1 pT        338972 non-null  float64
 4   Muon 2 pT        338972 non-null  float64
 5   Muon 1 Eta       338972 non-null  float64
 6   Muon 2 Eta       338972 non-null  float64
 7   Muon 1 Phi       338972 non-null  float64
 8   Muon 2 Phi       338972 non-null  float64
 9   Muon 1 Rapidity  338972 non-null  float64
 10  Muon 2 Rapidity  338972 non-null  float64
dtypes: float64(11)
memory usage: 28.4 MB

In [25]:
train1 = df.iloc[:25000]
train2 = df.iloc[25000:50000]
train3 = df.iloc[50000:75000]
train4 = df.iloc[75000:100000]
train5 = df.iloc[100000:125000]
train6 = df.iloc[125000:150000]
train7 = df.iloc[150000:175000]
train8 = df.iloc[175000:200000]
finalD = df.iloc[200000:]

In [26]:
train1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 25000 entries, 0 to 24999
Data columns (total 11 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Pair Mass        25000 non-null  float64
 1   Muon 1 Energy    25000 non-null  float64
 2   Muon 2 Energy    25000 non-null  float64
 3   Muon 1 pT        25000 non-null  float64
 4   Muon 2 pT        25000 non-null  float64
 5   Muon 1 Eta       25000 non-null  float64
 6   Muon 2 Eta       25000 non-null  float64
 7   Muon 1 Phi       25000 non-null  float64
 8   Muon 2 Phi       25000 non-null  float64
 9   Muon 1 Rapidity  25000 non-null  float64
 10  Muon 2 Rapidity  25000 non-null  float64
dtypes: float64(11)
memory usage: 2.1 MB

In [27]:
finalD.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 138972 entries, 200000 to 338971
Data columns (total 11 columns):
 #   Column           Non-Null Count   Dtype
---  ------           --------------   -----
 0   Pair Mass        138972 non-null  float64
 1   Muon 1 Energy    138972 non-null  float64
 2   Muon 2 Energy    138972 non-null  float64
 3   Muon 1 pT        138972 non-null  float64
 4   Muon 2 pT        138972 non-null  float64
 5   Muon 1 Eta       138972 non-null  float64
 6   Muon 2 Eta       138972 non-null  float64
 7   Muon 1 Phi       138972 non-null  float64
 8   Muon 2 Phi       138972 non-null  float64
 9   Muon 1 Rapidity  138972 non-null  float64
 10  Muon 2 Rapidity  138972 non-null  float64
dtypes: float64(11)
memory usage: 11.7 MB

In [28]:
train1.to_csv("trainDataset1.csv")
train2.to_csv("trainDataset2.csv")
train3.to_csv("trainDataset3.csv")
train4.to_csv("trainDataset4.csv")
train5.to_csv("trainDataset5.csv")
train6.to_csv("trainDataset6.csv")
train7.to_csv("trainDataset7.csv")
train8.to_csv("trainDataset8.csv")
finalD.to_csv("finalDataset.csv")